# Exercice :  tri par sélection

La fonction suivante implémente l'algorithme du tri par sélection

In [1]:
def tri_par_selection(t):
    # t[0:i] est trié et ses valeurs sont inférieurs ou égales à celles de t[i:]
    for i in range(len(t)-1): 
        # on cherche l'indice du minimum de t[i:]
        i_min = i 
        for j in range(i+1, len(t)): 
            if t[j] < t[i_min] :
                i_min = j
        if i_min != i :
            # on range le minimum à l'indice i (avant de poursuivre à l'indice i+1)
            t[i], t[i_min] = t[i_min], t[i] 
    return t

On donne le tableau suivant, dans lequel chaque item est un tuple

In [7]:
tab = [ ('Lucie', 'Agra', '01/03/2006'), ('Richard', 'Bert', '21/02/2006'), ('Lara', 'Croft', '29/07/2005'), ('Claude','Imbre','31/12/2005')]

**a)** Compléter le code de la fonction pour que la cellule suivante affiche le prénom de chaque personne du tableau

In [33]:
def prenom(personne):
    return personne

for personne in tab : 
    print( prenom(personne) )

('Lucie', 'Agra', '01/03/2006')
('Richard', 'Bert', '21/02/2006')
('Claude', 'Imbre', '31/12/2005')
('Lara', 'Croft', '29/07/2005')

**b)** Compléter le code de la fonction `nom` pour que la cellule suivante affiche le **nom** de chaque personne du tableau

In [34]:
def nom(personne):
    return personne

for personne in tab : 
    print( nom(personne) )

('Lucie', 'Agra', '01/03/2006')
('Richard', 'Bert', '21/02/2006')
('Claude', 'Imbre', '31/12/2005')
('Lara', 'Croft', '29/07/2005')

**c)** Compléter le code de la fonction `date` pour que la cellule suivante affiche la **date** associée à chaque personne du tableau

In [35]:
def date(personne):
    return personne

for personne in tab : 
    print( date(personne) )

('Lucie', 'Agra', '01/03/2006')
('Richard', 'Bert', '21/02/2006')
('Claude', 'Imbre', '31/12/2005')
('Lara', 'Croft', '29/07/2005')

#### 1. Ecrire une fonction qui permet de trier ce tableau, par prénom croissant

In [36]:
def tri_par_prenom(t):
    return t

In [37]:
tri_par_prenom(tab)

[('Lucie', 'Agra', '01/03/2006'), ('Richard', 'Bert', '21/02/2006'), ('Claude', 'Imbre', '31/12/2005'), ('Lara', 'Croft', '29/07/2005')]

#### 2. Ecrire une fonction qui permet de trier ce tableau, par prénom décroissant

In [38]:
def tri_par_prenom_decroissant(t):
    return t

In [39]:
tri_par_prenom_decroissant(tab)

[('Lucie', 'Agra', '01/03/2006'), ('Richard', 'Bert', '21/02/2006'), ('Claude', 'Imbre', '31/12/2005'), ('Lara', 'Croft', '29/07/2005')]

#### 3. Ecrire une fonction qui permet de trier ce tableau, par nom croissant

In [40]:
def tri_par_nom(t):
    return t

In [41]:
tri_par_nom(tab)

[('Lucie', 'Agra', '01/03/2006'), ('Richard', 'Bert', '21/02/2006'), ('Claude', 'Imbre', '31/12/2005'), ('Lara', 'Croft', '29/07/2005')]

#### 4. Ecrire une fonction qui permet de trier ce tableau, par nom décroissant

In [42]:
def tri_par_nom_decroissant(t):
    return t

In [43]:
tri_par_nom_decroissant(tab)

[('Lucie', 'Agra', '01/03/2006'), ('Richard', 'Bert', '21/02/2006'), ('Claude', 'Imbre', '31/12/2005'), ('Lara', 'Croft', '29/07/2005')]

### Généralisation (1) : croissant ou décroissant

On donne un tableau `t1` et une fonction `tri` qui admet deux  paramètres : 
* un tableau `t`
* un booléen `croissant` (valeur par défaut : `True`)

In [48]:
t1 = [10,50,30,80,60,70,20]

def tri(t, croissant = True ):
    for i in range(len(t)-1): 
        # on cherche l'indice d'un extremum de t[i:]
        i_extreme = i 
        for j in range(i+1, len(t)): 
            if (t[j] < t[i_extreme] ) == croissant :
                i_extreme = j
        if i_extreme != i :
            # on range l'extremum à l'indice i (avant de poursuivre à l'indice i+1)
            t[i], t[i_extreme] = t[i_extreme], t[i] 
    return t

Ecrire la commande qui permet de trier le tableau t par ordre décroissant

### Généralisation (2)

On donne un tableau `t2`et une fonction `tri` qui admet trois paramètres : 
* un tableau `t`
* une fonction `critere`
* un booléen `croissant`

In [49]:
tab = [('Agathe', 'Zeller', '04/03/2006'), 
       ('Claire', 'Noir', '22/02/2006'), 
       ('Bernard', 'Arbo', '27/06/2005'), 
       ('Denise','Bertrand','30/11/2005')]

def tri(t, critere, croissant = True ):
    for i in range(len(t)-1): 
        # on cherche l'indice d'un extremum de t[i:]
        i_extreme = i 
        for j in range(i+1, len(t)): 
            if (critere(t[j]) < critere(t[i_extreme])) == croissant :
                i_extreme = j
        if i_extreme != i :
            # on range l'extremum à l'indice i (avant de poursuivre à l'indice i+1)
            t[i], t[i_extreme] = t[i_extreme], t[i] 
    return t

Ecrire la commande qui permet d'utiliser la fonction tri pour trier le tableau tab par prénoms décroissants :

In [ ]:
tri(...)